.git
.gitignore
.vscode
.idea

**/.venv
**/.venv/**
**/.venv-*
**/.venv-*/**
**/venv
**/venv/**

**/__pycache__
**/__pycache__/**
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache

**/node_modules
**/node_modules/**
**/dist
**/dist/**

**/instance
**/instance/**
**/*.log

tools-dataset/docs
tools-dataset/tests
tools-dataset/example*
tools-frontend/tests
